

<nav>
    <h3>Event Planners</h3>
    <ul class="navbar">
        <li><a href="/home">Home</a></li>
        <!-- <li><a href="/home">Events</a></li>
        <li><a href="/home">Event Calendars</a></li>
        <li><a href="/home">Contact</a></li> -->
        <li><a href="/login">Login</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/howItWorks">How it works?</a></li>
        <!-- <li><a href="/home">Register</a></li> -->
        
        <li><!-- <a>Home</a> --></li>
    </ul>


    <div class="sidebar">
        <button onclick="handleSideBar()">
            &#9776
        </button>
    </div>
    <div class="sidebarMenu">
        <button onclick="closeSideBar()">X</button>
        <ul>
            <li><a href="/home">Home</a></li>
        <li><a href="/home">Events</a></li>
        <li><a href="/home">Event Calendars</a></li>
        <li><a href="/home">Contact</a></li>
        <li><a href="/login">Login</a></li>/a></li>
            <li><a href="/home">Contact</a></li>
            <li><!-- <a>Home</a> --></li>
        </ul>
    </div>
</nav>