<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How it Works</title>

     
    <link rel="stylesheet" href="styles/globalStyles.css" />
    <link rel="stylesheet" href="styles/homeStyle.css" />
    <link rel="stylesheet" href="styles/aboutStyles.css" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Playfair+Display&display=swap" rel="stylesheet">


<!-- Goolge Icons -->
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<!-- Font Awesome Icons -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->


</head>
<body>
    <%- include('partials/navbar.ejs') %>
    
    <section id="about" class="howWorks">
        <h1>How Event Planners Works ?</h1>
        <div class="box">
            <div class="container">
                <p> Discover the simplicity of event planning with Event Planner. 
                    Start by creating your event profile, detailing specifics such as type, date, and venue for tailored recommendations. 
                    Connect directly with skilled event planners who match your vision, exploring portfolios and engaging seamlessly through user-friendly communication tools. 
                    Collaborate effortlessly, sharing ideas and preferences to ensure your event reflects your unique style. 
                    Explore a network of trusted vendors for additional services like catering and decor, integrated into the platform for a streamlined experience. 
                    Stay informed with real-time updates on budget and to-do lists, all while enjoying secure transactions through our payment system. 
                    Your feedback matters; contribute to a community of satisfied users by sharing your experience. 
                    Event Planner goes beyond being a platform - it's your partner in creating extraordinary events. 
                    Join us and transform your event planning journey today!</p>
      </div>
            <div class="img">

            </div>
        </div>

        <div class="below_btn">
            <button>Get Started</button>
        </div>
    </section>
</body>
</html>